numpy~=2.2.4
pandas~=2.2.3
plotly~=6.0.1
scipy~=1.15.2
streamlit~=1.43.2
xlsxwriter~=3.2.2
ezdxf~=1.4.2
cadquery~=2.3.0
cadquery-ocp~=7.8.1
multimethod~=1.12
typish~=1.9.3
casadi~=3.7.0
nlopt~=2.9.1
nptyping~=2.5.0